<%- include header %>
<form method='post' action='/upload' enctype='multipart/form-data'>
	<input class='btn btn-primary' type='file' name='file1'></br>
	<input class='btn btn-primary' type='file' name='file2'></br>
	<input class='btn btn-primary' type='file' name='file3'></br>
	<input class='btn btn-primary' type='file' name='file4'></br>
	<input class='btn btn-primary' type='file' name='file5'></br>
	<input class='btn btn-primary' type='submit'>
</form>
<%- include footer %>